PORT=5000
WATSON_INTEGRATION_ID=your_watson_integration_id
WATSON_REGION=au-syd
WATSON_SERVICE_INSTANCE_ID=your_watson_service_instance_id
WATSON_ASSISTANT_ID=your_watson_assistant_id
WATSON_APIKEY=your_watson_apikey_if_using_backend_sdk
